body{
    margin: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-wrapper{
    background-image: url("img/raptor.jpg");
    background-size: cover;
    padding: 10vh 5vw;
    overflow: hidden;
}


.form-wrapper{
    background-color: rgba(47, 47, 47,0.8);
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10%;
    box-sizing: border-box;
}

.sign-in-container{
    color: white;
    width: 30%;
    overflow: hidden;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pink-btn{
    background-color: #ff009d;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    display: block;
    margin: 10px auto;
    font-family: 'Segoe UI', sans-serif;
}

.sign-up-container{
    color: white;
    width: 30%;
    overflow: hidden;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden{
    width: 0px;
    overflow: hidden;
}

.sign-up-container input{
    display: block;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #ff9900;
    font-size: 16px;
}

.sign-in-container input{
    display: block;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #ff9900;
    font-size: 16px;
}

.black-background{
    background-color: rgb(0, 0, 0, 0.7);
}

.orange-btn{
    background-color: #ff9900;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    display: block;
    margin: 10px auto;
    font-family: 'Segoe UI', sans-serif;
}


